 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h1 {color: #000000;} 
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 10px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 10px;
  }

  .bg-primario{background-color: #880e4f;}
  .bg-secundario{background-color: #e6e6e6;}
  .bg-terciario{background-color:#FFCA28;}
  .bg-final{background-color: black;}
  .txt-white{color: white;}
  .txt-gray{color: #cccccc;}
  .txt-primario{color:#880e4f;}
  .txt-secundario{color:#FFCA28;}
  .border-yellow{border-style: solid; border-width: 2px; border-right: 4px solid #FFCA28; border-left: 4px solid #FFCA28; border-color:#FFCA28;}

  .logo-principal {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .banner{padding-bottom: 60px;}
  #banner02{display: none;}

  /*Menú*/
  .navbar {
      color: black!important;
      margin-bottom: 0;
      background-color: #fff;
      opacity:1;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      font-family: Montserrat, sans-serif;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      text-align: center!important;
      top: 0;
      z-index: 999;
  }
  .navbar-nav {  
      width: 100%!important;
      text-align: center!important;
  }
  .navbar-toggler{color: #880e4f;}
  .navbar-toggler-icon {color: #880e4f;background-color: white;}
  a {color: black;
    text-align: center;}
  a:hover, a:active {color: white;}

  li.nav-item {padding: 15px;}
  li.nav-item:hover {
        background-color: #cc0066;
        transform:scale(1.10);
        text-decoration-line: none;
  }
  li.nav-item:active{
    background-color: #cc0066;
    transform:scale(1);
    text-decoration-line: none;
  }
  .navbar-header {
      position: fixed;
      top: 0;
      width: 100%;}

  /*General*/
  .container-fluid{padding: 60px!important; padding-top: 100px!important; padding-bottom: 100px!important}
  .row{margin-right: 0px; margin-left: 0px;}

  /*Tabla de precios*/
  table{box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
  table td, table th{border-top: 1px solid #880e4f!important;}

 /*Boton de What´s App*/ 
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:10;
}
.my-float{margin-top:16px;}


  @media screen and (max-width: 768px) {
    .col-sm-3 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .container-fluid{padding: 60px!important;}
    #img-logo{width: 70%!important;}
    #banner01{display: none;}
    #banner02{display: initial;}
    h4.txt-white.text-left{text-align: center!important;}
    div.col-sm-3{margin: 0px; }
    p.txt-white{margin-bottom: 0px;}
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  @media screen and (max-width: 991.50px){
    #img-nube{width: 50%!important;}
  }
